/* Estilos para el Navbar */
.navbar-custom {
  background-color: #323a45; /* Color de fondo */
  box-shadow: 0 4px 2px -2px gray; /* Sombra para el navbar */
  width: 100%; /* Asegura que el navbar ocupe todo el ancho */
}

.nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-link {
  color: #d8d8d9; /* Color de texto */
  font-size: 18px; /* Tamaño de fuente */
  font-weight: 500; /* Grosor de fuente */
}

.nav-link:hover {
  color: #eaeaec; /* Color de texto al pasar el cursor */
}
